
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="text-align:center">Statistics</h2>

    <br /> 
<div class="row" style="display:flex;justify-content:flex-start">
   <div class="col-2" style="width:100px;border-radius:5px;height:100px; margin-left:5%;background-color:orange;color:white">
       <h6 >Total Category</h6>
       <br />
       <span >x Item</span>
   </div>
   <div class="col-2" style="width: 100px; border-radius: 5px; height: 100px; background-color: dodgerblue; color: white; margin-left: 5%;">
       <h6>Total Product</h6>
       <br />
       <span>x Item</span>


   </div>
   <div class="col-2" style="width: 100px; border-radius: 5px; height: 100px; background-color: forestgreen; color: white; margin-left: 5%;">

       <h6 style="font-size:95%">Most Valuable Product</h6>
       <br />
       <span>x Item</span>

   </div>
   <div class="col-2" style="width: 100px; border-radius: 5px; height: 100px; background-color:cornflowerblue; color: white; margin-left: 5%; ">
       <h6 >Highest Quantity</h6>
       <br />
       <span>x Item</span>
   </div>


</div>

