@model EntityLayer.Concrete.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddProduct</h2>

@using (Html.BeginForm("AddProduct", "AdminProduct", FormMethod.Post))
    
{ 
    
    <input type="text" name="Name" />
    <br /> <br />
    <input type="text" name="Description" />
    <br /> <br />
    <input type="text" name="Quantity" />
    <br /> <br />
    <input type="text" name="Price" />
    <br /> <br />
    <input type="text" name="CategoryId" />

    <button>Confirm</button>


}