@model EntityLayer.Concrete.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddProduct</h2>

@using (Html.BeginForm("AddProduct", "AdminProduct", FormMethod.Post))

{

    @Html.TextBoxFor(x => x.Name)
    <br />
    <br />
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <input type="text" name="Description" />
    @Html.ValidationMessageFor(x => x.Description)
    <br />
    <br />
    <input type="text" name="Quantity" />
    @Html.ValidationMessageFor(x => x.Quantity)
    <br />
    <br />
    <input type="text" name="Price" />
    <br />
    <br />
    <input type="text" name="CategoryId" />

    <button>Confirm</button>


}