

@using EntityLayer.Concrete
@model List<EntryCart>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
            </tr>
        }
    </tbody>
</table>


<br />
<div>
    <button class="btn btn-primary form-control">Total: 0.0$ Confirm</button>

</div>

