@using EntityLayer.Concrete
@model List<StockEntry>
@{
    ViewBag.Title = "PList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<a href="~/StockEntry/ProductEntry" class="btn btn-outline-info">Product Entry Page</a>
<a href="~/StockEntry/PList" class="btn btn-outline-secondary">Stock Entry List</a>
<a href="~/StockEntry/Index" class="btn btn-outline-primary">Stock Entry Page(Rmv)</a>

<div>
    <br />
    <table class="table table-bordered" style="text-align:center">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Total Price</th>
                <th>Date</th>
                <th>User Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td> @item.TransactionNo </td>
                    <td style="color:green"> @item.Price$   </td>
                    <td> @item.Date   </td>
                    <td> @item.User.Name</td>
                    <td>
                        <a style="width:100%" class="btn btn-outline-primary">Details</a>
                    </td>

                    <td>
                        <a style="width:100%" class="btn btn-outline-success">Edit</a>
                    </td>
                    <td>
                        <a style="width:100%" class="btn btn-outline-danger">Delete</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>