@using EntityLayer.Concrete
@model Product






<div style="margin-top:70px">

@using (Html.BeginForm("ConfirmEntryToBasket", "StockEntry", FormMethod.Post))
{

    @Html.Label("Product Name")
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    @Html.Label("Product Quantity")
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" style="width:100%">-></button>


}
</div>