
@{
    ViewBag.Title = "ProductEntry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product Entry</h2>
<br />
<div style="display:flex;justify-content:left">
    <div style="width:40%">

        @Html.Action("ProductEntryP", "StockEntry")

    </div>

    <div style="width:60%;margin-left:10px">
        @Html.Action("ChartList", "StockEntry")

    </div>


</div> 