@model EntityLayer.Concrete.StockEntry

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<a href="~/StockEntry/ProductEntry" class="btn btn-outline-info">Product Entry Page</a>
@*<a href="~/StockEntry/PList" class="btn btn-outline-info">Stock Entry List</a>*@
<a href="~/StockEntry/Index" class="btn btn-outline-primary">Stock Entry Page(Rmv)</a>
@using (Html.BeginForm("ConfirmEntry", "StockEntry", FormMethod.Post))
{
    <div style="margin-left:10px;display:flex">
        <div style="width:40%;margin-top:5%">
            <h3>Stock Entry Page</h3>
            <br />


            <label>Transaction Number</label>
            <input name="InvoiceNumber" type="text" class="form-control" />
            <br />
            <label>Total Price</label>
            <input name="TotalPrice" type="text" class="form-control" />
            <br />
            <input name="Date" type="date" class="form-control" />
            <br />
            <hr />
            <button class="btn btn-outline-info form-control">Confirm</button>

        </div>
    </div>}

@* @Html.Action("PList", "StockEntry")*@