@using EntityLayer.Concrete
@model Product 
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">New Product</h2>
            </div>
            <form method="post" action="~/AdminProduct/AddProduct">
                <br />
                
                @Html.Label("Product Name") 
                <br>
                @Html.DropDownListFor(x => x.Name, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
                <br />
                
               




                <div class="modal-body">

                    <button style="width:100%" class="btn btn-lg btn-outline-info">Confirm</button>

                </div>
            </form>
        </div>
    </div>
</div>


