
@{
    ViewBag.Title = "SaleScreen";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<a href="~/Sale/Index" style="margin-left:2%" class="btn btn-lg btn-warning">
    <- Back

</a>

<table class="table table-bordered" style="margin-top:4%">
        <thead>
            <tr style="text-align:center">
                <th>Product Name</th>
                <th>Category Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>



        </tbody>
    </table>
