@using EntityLayer.Concrete
 @model List<Category>
    @{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_AdminLayout.cshtml"; } 
< br />
<div style="display:flex;justify-content:flex-end" class="button">
    <h4 style="margin-right:65%">Category List</h4> <a href="~/AdminCategory/CreateCategory" class="btn btn-outline-primary" style="width:15%">New Category</a>
</div>
<br />
<h1>@ViewBag.data</h1>
<table class="table table-bordered" style="text-align:center">
    <tr>
        <th>Description</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr> @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.Name</td>
            <td><a class="btn btn-info" href="~/AdminCategory/UpdateCtgPage/@item.CategoryId">Update</a></td>
            <td><a class="btn btn-danger" href="~/AdminCategory/DeleteCtg/@item.CategoryId">Delete</a></td>
        </tr>
    }
</table>